/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .cont {
    width: 60%;
    margin: auto;
  }
  .header {
    height: 500px;
    margin-top: 40px;
    border-radius: 0;
    position: relative;
  }
  .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    padding-top: 70px;
  }
  .avatar {
    width: 20%;
    height: 150px;
    border-radius: 5px;
    position: relative;
    margin: auto;
  }
  .about-name {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 9px;
  }
  .about-intro {
    text-align: center;
    padding-top: 3px;
    color: white;
  }
  .inner-social {
    width: 20px;
  }

  .inner-social-con {
    width: 8%;
    margin: auto;
    padding-top: 9px;
  }

  .section {
    border-radius: 0;
    margin-top: 40px;
    background-color: white;
    padding-bottom: 20px;
  }
  .section-con {
    width: 90%;
    margin: auto;
  }
  .section-heading {
    font-size: 30px;
    font-weight: 300;
    color: var(--texc-color-grey);
  }
  .bio {
    padding-right: 100px;
  }
  .about-summary {
    padding-top: 20px;
    color: var(--texc-color-grey);
  }
  .about-details {
    width: 50%;
  }
  .about-details-2 {
    width: 45%;
  }
  .about-star {
    width: 90%;
    margin: auto;
    margin-top: 2px;
  }
  .about-lang {
    width: 120px;
    height: 190px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .about-lang-text {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
  }
  .about-star-img {
    display: none;
    width: 100%;
  }
  .card-hover:hover .about-star-img {
    display: block;
    color: #8d8d8d;
    transition: all ease-in 10s;
  }
  .experience {
    background-color: white;
    margin-top: 40px;
  }
  .exp-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: 7px;
    left: -12px;
    border: 6px solid #39c0ed;
    border-top-color: #39c0ed;
    border-right-color: #39c0ed;
    border-bottom-color: #39c0ed;
    border-left-color: #39c0ed;
    z-index: 2;
  }
  .edu-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: 7px;
    left: -12px;
    border: 6px solid #20c997;
    border-top-color: #20c997;
    border-right-color: #20c997;
    border-bottom-color: #20c997;
    border-left-color: #20c997;
    z-index: 2;
  }
  .exp-title {
    padding-left: 30px;
    padding-top: 10px;
  }
  .edu-title {
    padding-left: 30px;
    padding-top: 10px;
  }
  .exp-details {
    padding-left: 25px;
    margin-left: 3px;
    margin-top: 10px;
    border-left: 2px solid #e6e9ed;
  }
  .input {
    width: 40%;
    height: 35px;
    padding-left: 9px;
    margin-top: 20px;
    display: block;
  }
  .text-area {
    width: 40%;
    height: 150px;
    padding-left: 9px;
    margin-top: 20px;
    display: block;
    resize: none;
  }
  .contact-con {
    margin-top: 20px;
  }
  .contact-btn {
    width: 42%;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .cont {
    width: 95%;
    margin: auto;
  }
  .header {
    height: 350px;
    margin-top: 40px;
    border-radius: 0;
    position: relative;
  }
  .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    padding-top: 30px;
  }
  .avatar {
    width: 50%;
    height: 150px;
    border-radius: 5px;
    background-color: white;
    margin: auto;
  }
  .about-name {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 9px;
  }
  .about-intro {
    text-align: center;
    padding-top: 3px;
    color: white;
  }
  .inner-social {
    width: 30px;
  }

  .inner-social-con {
    width: 40%;
    margin: auto;
    padding-top: 9px;
  }
  .section {
    border-radius: 0;
    margin-top: 40px;
    background-color: white;
  }
  .section-con {
    width: 90%;
    margin: auto;
  }
  .section-heading {
    font-size: 30px;
    font-weight: 300;
    color: var(--texc-color-grey);
    text-align: center;
  }
  .bio {
    padding-top: 20px;
    text-align: center;
  }
  .about-summary {
    padding-top: 20px;
    color: var(--texc-color-grey);
  }
  .about-details {
    width: 100%;
  }
  .about-details-2 {
    width: 100%;
  }
  .about-star {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .about-lang {
    width: 120px;
    height: 190px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .about-lang-text {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
  }
  .about-star-img {
    width: 13%;
    margin: auto;
    margin-top: 20px;
    display: none;
  }
  .card-hover:hover .about-star-img {
    display: block;
    transition: all ease-in 10s;
    color: #8d8d8d;
  }
  .experience {
    background-color: white;
    margin-top: 20px;
  }
  .exp-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: 4px;
    left: -12px;
    border: 6px solid var(--blue);
    border-top-color: #39c0ed;
    border-right-color: #39c0ed;
    border-bottom-color: #39c0ed;
    border-left-color: #39c0ed;
    z-index: 2;
  }
  .edu-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: 4px;
    left: -12px;
    border: 6px solid #20c997;
    border-top-color: #20c997;
    border-right-color: #20c997;
    border-bottom-color: #20c997;
    border-left-color: #20c997;
    z-index: 2;
  }
  .exp-title {
    padding-left: 30px;
    padding-top: 10px;
  }
  .edu-title {
    padding-left: 30px;
    padding-top: 10px;
  }
  .exp-details {
    padding-left: 25px;
    margin-left: 3px;
    margin-top: 10px;
    border-left: 2px solid #e6e9ed;
  }
  .input {
    width: 95%;
    height: 35px;
    padding-left: 9px;
    margin-top: 20px;
    display: block;
    font-size: 16px;
  }
  .text-area {
    width: 95%;
    height: 150px;
    padding-left: 9px;
    margin-top: 20px;
    display: block;
    resize: none;
    font-size: 16px;
  }
  .contact-con {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .contact-btn {
    width: 100%;
    height: 50px;
  }
}
