/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */

@media (min-width: 1281px) {
  .home-wrap {
    width: 80%;
    margin: auto;
  }
  .intro-text {
    padding-top: 120px;
    color: #353535;
    width: 50%;
  }
  .name {
    font-size: 60px;
    font-weight: bold;
    color: black;
  }
  .lang {
    width: 160px;
    height: 230px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .summary {
    font-size: 21px;
    padding-top: 10px;
  }
  .dev {
    width: 80%;
    float: right;
    margin-top: 40px;
  }
  .skills {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
  }
  .star {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .star-img {
    display: none;
    width: 100%;
  }
  .lang-text {
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
  }
  .card-hover:hover .star-img {
    display: block;
    transition: all ease-in 10s;
  }
  .lang-img {
    width: 30%;
    margin-top: 10px;
  }
  .section-1 {
    height: 700px;
    padding-top: 70px;
  }
  .view-all {
    margin-top: 29px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #8d8d8d;
  }
  .all-works {
    justify-content: space-between;
    margin-top: 70px;
  }
  .works {
    width: 50%;
    margin-top: 70px;
  }
  .work-list {
    width: 70%;
    height: 90px;
    float: right;
    margin-top: 20px;
  }
  .work-img {
    width: 30%;
  }
  .work-text {
    font-size: 19px;
    font-weight: bold;
    margin-top: 30px;
  }
  .button {
    width: 40%;
  }
}

/* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

@media (min-width: 1025px) and (max-width: 1280px) {
  .home-wrap {
    width: 80%;
    margin: auto;
  }
  .intro-text {
    margin-top: 150px;
    color: #353535;
    width: 50%;
  }
  .name {
    font-size: 50px;
    font-weight: bold;
    color: black;
  }
  .lang {
    width: 160px;
    height: 200px;
    text-align: center;
  }
  .summary {
    font-size: 21px;
    padding-top: 10px;
  }
  .dev {
    width: 80%;
    float: right;
    margin-top: 40px;
  }
  .skills {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
  }
  .star {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .star-img {
    display: none;
    width: 100%;
  }
  .lang-text {
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
  }
  .card-hover:hover .star-img {
    display: block;
    transition: all ease-in 10s;
  }
  .lang-img {
    width: 30%;
    margin-top: 10px;
  }
  .section-1 {
    height: 700px;
  }
  .view-all {
    margin-top: 29px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #8d8d8d;
  }
  .all-works {
    justify-content: space-between;
    margin-top: 70px;
  }
  .works {
    width: 50%;
    margin-top: 70px;
  }
  .work-list {
    width: 70%;
    height: 90px;
    float: right;
    margin-top: 20px;
  }
  .work-img {
    width: 30%;
  }
  .work-text {
    font-size: 19px;
    font-weight: bold;
    margin-top: 30px;
  }
}

/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

@media (min-width: 481px) and (max-width: 767px) {
  .home-wrap {
    width: 95%;
    margin: auto;
  }
  .intro-text {
    padding-top: 60px;
    color: #353535;
  }
  .name {
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
  .lang {
    width: 160px;
    height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .summary {
    font-size: 19px;
    padding-top: 10px;
  }
  .dev {
    width: 80%;
    float: right;
    margin-top: 40px;
  }
  .skills {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
  }
  .star {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .star-img {
    width: 13%;
    margin: auto;
    margin-top: 20px;
    display: none;
  }
  .lang-text {
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
  }
  .card-hover:hover .star-img {
    transition: all ease-in 10s;
    display: block;
  }
  .lang-img {
    width: 40%;
    margin-top: 10px;
  }
  .section-1 {
    height: 450px;
  }
  .view-all {
    margin-top: 29px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #8d8d8d;
  }
  .all-works {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
  }
  .works {
    width: 100%;
    margin-top: 70px;
  }
  .work-list {
    width: 100%;
    height: 90px;
    margin-top: 20px;
  }
  .work-img {
    width: 30%;
  }
  .work-text {
    font-size: 19px;
    font-weight: bold;
    margin-top: 30px;
  }
  .button {
    width: 40%;
    align-self: center;
  }
}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
  .home-wrap {
    width: 95%;
    margin: auto;
  }
  .intro-text {
    color: #353535;
  }
  .name {
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
  .lang {
    width: 160px;
    height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .summary {
    font-size: 19px;
    padding-top: 10px;
  }
  .dev {
    width: 80%;
    float: right;
    margin-top: 40px;
  }
  .skills {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
  }
  .star {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .star-img {
    width: 13%;
    margin: auto;
    margin-top: 20px;
    display: none;
  }
  .lang-text {
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
  }
  .card-hover:hover .star-img {
    transition: all ease-in 10s;
    display: block;
  }
  .lang-img {
    width: 40%;
    margin-top: 10px;
  }
  .section-1 {
    height: 500px;
    padding-top: 40px;
  }
  .view-all {
    margin-top: 29px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #8d8d8d;
  }
  .all-works {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
  }
  .works {
    width: 100%;
    margin-top: 70px;
  }
  .work-list {
    width: 100%;
    height: 90px;
    margin-top: 20px;
  }
  .work-img {
    width: 30%;
  }
  .work-text {
    font-size: 19px;
    font-weight: bold;
    margin-top: 30px;
  }
  .button {
    width: 45%;
    align-self: center;
  }
}
