* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}
:root {
  --texc-color-grey: #4f4f4f;
  --blue: #39c0ed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-sa {
  justify-content: space-around;
}

/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */

@media (min-width: 1281px) {
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  .row2 {
    display: flex;
    flex-direction: row;
  }

  .row-col-count-1 {
    flex-basis: 100%;
  }
  .row-col-count-2 {
    flex-basis: 50%;
    margin: 0.3px;
  }
  .row-col-count-3 {
    flex-basis: 33.3%;
    margin: 0.3px;
  }
  .row-col-count-4 {
    flex-basis: 21%;
    margin: 0.3px;
  }
  .row-col-count-5 {
    flex-basis: 19%;
  }
  .row-col-count-6 {
    flex-basis: 16%;
    margin: 0.3px;
  }

  .button {
    border: 0;
    width: 30%;
    height: 60px;
    color: white;
    background-color: #a8a8a8;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
  }
  .button-outline {
    border: 1px solid #8d8d8d;
    width: 30%;
    height: 60px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  .row-2 {
    display: flex;
    flex-direction: row;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  .row-2 {
    display: flex;
    flex-direction: row;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  .row-2 {
    display: flex;
    flex-direction: row;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  .row-2 {
    display: flex;
    flex-direction: row;
  }
  button {
    border: 0;
    width: 20%;
    height: 60px;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  .row2 {
    display: flex;
    flex-direction: row;
  }
  button {
    border: 0;
    width: 30%;
    height: 60px;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
  }

  .row-col-count-1 {
    flex-basis: 100%;
  }
  .row-col-count-2,
  .row-col-count-3,
  .row-col-count-4,
  .row-col-count-5,
  .row-col-count-6 {
    flex-basis: 45%;
  }

  .button-filled {
    border: 0;
    width: 30%;
    height: 60px;
    color: white;
    background-color: #a8a8a8;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
  }
  .button-outline {
    border: 1px solid #8d8d8d;
    width: 30%;
    height: 60px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
  }
}
