/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */

@media (min-width: 1281px) {
  .nav {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .nav-wrap {
    width: 80%;
    margin: auto;
    height: 70px;
    justify-content: space-between;
  }
  .links {
    justify-content: space-between;
    width: 30%;
    margin-top: 10px;
  }
  .link-a {
    margin-top: 15px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  .link-b {
    margin-top: 10px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #8d8d8d;
  }
  .bar {
    display: none;
  }
}

/* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

@media (min-width: 481px) and (max-width: 767px) {
  .nav {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .nav-wrap {
    width: 80%;
    margin: auto;
    height: 70px;
    justify-content: space-between;
  }
  .links {
    justify-content: space-between;
    width: 30%;
    margin-top: 10px;
    display: none;
  }
  .link-a {
    margin-top: 15px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
  .nav {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .nav-wrap {
    width: 80%;
    margin: auto;
    height: 70px;
    justify-content: space-between;
  }
  .links {
    justify-content: space-between;
    width: 30%;
    margin-top: 10px;
    display: none;
  }
  .link-a {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  .link-b {
    margin-top: 10px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #8d8d8d;
  }
  .bar {
    display: block;
    cursor: pointer;
  }
  .side-bar {
    width: 55%;
    height: 100vh;
    background-color: white;
    position: absolute;
    right: 0;
  }
}
